<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <script src="https://unpkg.com/vue/dist/vue.js"></script> <!-- vue -->
  <script src="https://apis.google.com/js/platform.js"></script> <!-- gapi -->
  <script><?!=exportGlobals();?></script>
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"> <!-- add-ons styles -->
  <style><?!=include( 'WebApp.css'); ?></style> <!-- style -->
</head>

<body>
  <!-- Simple Sidebar -->
  <div id="appName">
    <h1>Workflows Jacknife</h1>
    {{test}}
    CONFIG: <field-config type="1" v-model="test"></field-config>
    <field-config ref="testfield" v-model="test" type="6" :formfields='["hi","there","test","Foo"]'></field-config>

    <span class="error" v-if="error">{{error}}</span>

    <br>Pick Master Config Sheet: <picker type="spreadsheet" :api-info="apiInfo" v-on:picked="setConfig"></picker>

    <div  v-if="configSheet">
      <a v-if="chosenSheet" :href="chosenSheet.url">{{chosenSheet.title}}</a>
      <master-config
	:config-sheet="configSheet"
	:api-info="apiInfo"
	ref="master"
	>
      </master-config>
    </div>
    <!-- <h3>FOR TESTING</h3> -->
      <!-- config-sheet="13J7v8UvtHFB0L7k0qJrDPIuZHRMaT01Ayas47jxion8" -->
      <!-- <master-config
      config-sheet="10yauqDvNnG2iQwoaIWbRs_3HKVJkYcx0HK3MRCL2bRE"
      :api-info="apiInfo"
      ref="test"
      >
    </master-config> -->
    
    
  </div>
</body>

<script type="text/x-template" id="picker-template">
  <div class="pickerButton">
    <span v-if="error">{{error}}</span>
    <span v-if="!apiInfo.pickerApiLoaded">Loading API...</span>
    <span v-if="!apiInfo.authToken">Loading Authorization token...</span>
    
    <span v-if="apiInfo.pickerApiLoaded&&apiInfo.authToken">
      <button v-if="type=='form'" v-on:click="getForm()">Select Form</button>
      <button v-if="type=='spreadsheet'" v-on:click="getSheet()" >Select Sheet</button>
    </span>
  </div>
</script>


<script type="text/x-template" id="debug">
  <span>
    <span class="debug" v-on:click="show = !show">(d)</span>
    <span v-if="show">
      <slot>
      </slot>
    </span>
  </span>
</script>

<script type="text/x-template" id="master-config">
  <div class="master">
    <div class="error" v-if="error">{{error}}</div>
    <div v-if="!duplicate.config">
      <span v-if="!duplicating">
	<button v-on:click="duplicateWorkflow">Make a Copy of Workflow</button>
      </span>
      <span v-else>
	Making copies...
      </span>
    </div>
    <div><button v-on:click="gatherDocs">Gather documents into a folder</button>
    </div>
      
    <div v-if="master.config">
      <div v-for="form,i in master.config">
	<div v-if="i>0">
	  <a :href="form.Form">{{form.Title}}</a> {{form.Action}}:
	  <!-- (get action details <button v-on:click="getAction(form.Action,form.Form)">GetAction</button> 
	  <div v-if="details">{{details}}</div> -->
	  (Config <span v-for="n in 3">
	    <config-sheet :ref="'config'+n" v-if="form['ConfigId'+n]"
			  :n="n"
			  :sheet-id="form['ConfigId'+n]"
			  :ss-id="configSheet"
			  :form="form.Form"
			  :action="form.Action"
			  :href="form['ConfigLink'+n]">{{n}}</config-sheet>
	  </span>)
	</div>
      </div>
    </div>
    <div v-if="master.actions">
      NEW ACTION?
      Pick form: 
      <picker type="form" :api-info="apiInfo" v-on:picked="setForm"></picker> <span v-if="selectedForm">{{selectedForm}}</span>
      <select v-model="selectedAction">
	<option  v-for="action in master.actions" :value="action">{{action.action}}</option>
      </select>
      <button v-if="selectedForm" v-on:click="getActionDetails">Go</button>
      <div v-if="actionParameters">
	<debug>{{actionParameters}}</debug>
	<table>
	  <tr v-for="param in actionParameters.params">
	    <td>{{param.label}}</td>
	    <td><field-config :formfields="param.fields" v-model="actionConfig[param.field]" :type="param.type" ref="fc"></field-config></td>
	  </tr>
	</table>
	<button v-on:click="createAction">Set up action</button>
      </div>
    </div>
  </div>
</script>



<script type="text/x-template" id="config-sheet">
  <div>
    <span v-if="saved">SAVED</span><span v-else>UNSAVED <button v-on:click="save">save</button></span>
    <button v-on:click="show=!show">{{n}}</button>
    <div v-if="show">
      <debug><p>CONFIG SHEET {{sheetId}}</p></debug>
      <div v-if="error" class="error">{{error}}</div>
      <debug>{{config}}</debug>
      <table v-if="config">
	<tr v-for="key in config.fields">
	  <td>
	    <span v-if="fieldLookup[key]">{{fieldLookup[key].label}} <debug>{{fieldLookup[key]}}</debug></span>
	    <span v-else>{{key}}</span>
	  </td>
	  <td>
	    <span v-if="fieldLookup[key]">
	      <field-config v-model="config.raw[key]"
			    :type="fieldLookup[key].type"
			    :formfields="fieldLookup[key].fields"
			    :lookups="config.lookups"
			    :ref="'fl_'+key"
			    >
	      </field-config>
	    </span>
	    <span v-else><input v-model="config.raw[key]"></span>
	  </td>
	</tr>
      </table>
      <div v-else>
	Loading data...
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="field-config">
  <span>
    <debug>VAL: {{value}}</debug>
    <span v-if="type==1"><!--text-->
      <input type="text" :value="value" @input="updateVal">
    </span>
    <span v-else-if="type==2"> <!--folder-->
      Folder {{value}} (not yet implemented)
    </span>
    <span v-else-if="type==5"> <!-- PARA -->
      <textarea cols="72" rows="10" :value="value" @input="updateVal">
      </textarea>
    </span>
    <span v-else-if="type==6">
      <select v-model="mode">
	<option value="raw" default>Enter value</option>
	<option value="field">Choose field</option>
	<option value="lookup">Field lookup</option>
	<option value="magic">Magic field</option>
      </select>
      <span v-if="mode=='field'">
	<select v-model="field"> <!-- @input="updateField">-->
	  <option v-for="f in formfields" :value="f">{{f}}</option>
	</select>
      </span>
      <span v-else-if="mode=='lookup'">
	<select v-model="lookupField">
	  <option v-for="f in formfields" :value="f">{{f}}</option>
	</select>
	<select v-model="lookupDict">
	  <option v-for="dict,name in lookups" :value="name">{{name}}</option>
	  <option value="MAKE_NEW">Create New Lookup</option>
	</select>
	<span v-on:click="showLookup=!showLookup"><span v-if="showLookup">Hide</span><span v-else>Show</span> Lookup Table</span>
	<span v-if="lookupDict" v-show="showLookup">
	  <span v-if="lookupDict!='MAKE_NEW'">
	    <table>
	      <tr v-for="val,key in lookups[lookupDict]" v-if="key">
		<td>{{key}}</td><td><input v-model="val"></td>
	      </tr>
	      <tr v-if="!lookups[lookupDict].Default"><td>Default</td><td><input v-model="lookups[lookupDict]['Default']"></td>
	      </tr>
	      <tr><td><input v-model="newLookupKey"></td><td><input v-model="newLookupVal"><button v-on:click="addLookupKey()">+</button></td>
	      </tr>
	    </table>
	  </span>
	  <span v-else>
	    Lookup Name: <input v-model="newLookupDictName"> <button v-on:click="makeNewLookupDict()">Create</button>
	  </span>
	</span>
      </span>
      <span v-else="mode=='raw'">
	<input type="text" :value="value" @input="updateVal">
      </span>
    </span>
    <span v-else-if="type==8">
      <input type="checkbox" :value="value" @input="updateVal">
    </span>
    
  </span>
</script>


</html>
<script>
<?!=include( 'WebApp.js'); ?>
</script>
